<div *ngIf="isOpen" class="overlay" (click)="close.emit()">
  <div 
    class="modal"
    [ngClass]="classes"
    (click)="$event.stopPropagation()" 
    role="dialog" 
    aria-modal="true"
  >
    <header class="header">
      <h2 class="title">\{{ title }}</h2>
      <button type="button" class="closeButton" (click)="close.emit()" aria-label="Close modal">
        &times;
      </button>
    </header>
    
    <div class="body">
      <ng-content></ng-content>
    </div>
    
    <footer class="footer">
      <ng-content select="[footer]"></ng-content>
    </footer>
  </div>
</div>
