<div *ngIf="isOpen" class="overlay" (click)="onClose()">
  <ng-content select="[overlay]"></ng-content>
  <div 
    [class]="modalClasses" 
    (click)="$event.stopPropagation()" 
    role="dialog" 
    aria-modal="true" 
    [attr.aria-labelledby]="titleId"
  >
    <ng-content select="[content]"></ng-content>
    <header class="header">
      <ng-content select="[header]"></ng-content>
      <h2 [id]="titleId" class="title">
        <ng-content select="[modal-title]">\{{ title }}</ng-content>
      </h2>
      <button type="button" class="closeButton" (click)="onClose()" aria-label="Close modal">
        <ng-content select="[close]">&times;</ng-content>
      </button>
    </header>
    
    <div class="body">
      <ng-content select="[body]"></ng-content>
      <ng-content></ng-content>
    </div>
    
    <footer class="footer">
      <ng-content select="[footer]"></ng-content>
    </footer>
  </div>
</div>
