<div class="popoverWrapper" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div #triggerRef class="popoverTrigger" (click)="toggle()" [attr.aria-expanded]="isOpen" aria-haspopup="dialog">
    <ng-content select="[trigger]"></ng-content>
  </div>

  @if (isOpen) {
    <div #contentRef [ngClass]="getContentClasses()">
      <ng-content></ng-content>
    </div>
  }
</div>
