<div 
  class="card"
  [class.card--sm]="size === 'sm'"
  [class.card--md]="size === 'md'"
  [class.card--lg]="size === 'lg'"
  [class.card--hoverable]="variant === 'hoverable'"
  [class.card--clickable]="variant === 'clickable'"
  [attr.tabindex]="variant === 'clickable' ? 0 : null"
  [attr.role]="variant === 'clickable' ? 'button' : article"
>
  <header class="card-header">
    <ng-content select="[card-header]"></ng-content>
    <ng-content select="[card-title]"></ng-content>
    <p class="card-description">
      <ng-content select="[card-description]"></ng-content>
    </p>
    <div class="card-action">
      <ng-content select="[card-action]"></ng-content>
    </div>
  </header>

  <div class="card-content">
    <ng-content></ng-content>
  </div>

  <footer class="card-footer">
    <ng-content select="[card-footer]"></ng-content>
  </footer>
</div>
