<div 
  class="card"
  [class.card--hoverable]="variant === 'hoverable'"
  [class.card--clickable]="variant === 'clickable'"
  [attr.tabindex]="variant === 'clickable' ? 0 : null"
  [attr.role]="variant === 'clickable' ? 'button' : null"
>
  <header class="card-header">
    <ng-content select="[card-header]"></ng-content>
  </header>

  <h3 *ngIf="title" class="card-title">\{{ title }}</h3>

  <div class="card-content">
    <ng-content></ng-content>
  </div>

  <footer class="card-footer">
    <ng-content select="[card-footer]"></ng-content>
  </footer>
</div>
