<div *ngIf="isOpen" class="overlay" (click)="onClose()">
  <div [class]="modalClasses" (click)="$event.stopPropagation()" role="dialog" aria-modal="true" [attr.aria-labelledby]="title ? 'modal-title' : null">
    <header class="header">
      <h2 *ngIf="title" id="modal-title" class="title">\{{ title }}</h2>
      <button type="button" class="closeButton" (click)="onClose()" aria-label="Close modal">
        &times;
      </button>
    </header>
    
    <div class="body">
      <ng-content></ng-content>
    </div>
    
    <footer class="footer">
      <ng-content select="[footer]"></ng-content>
    </footer>
  </div>
</div>
