import { Meta, StoryObj } from '@storybook/angular';
import { ModalComponent } from './modal.component';

const meta: Meta<ModalComponent> = {
  title: 'Crucible/{{name}}',
  component: ModalComponent,
  tags: ['autodocs'],
  argTypes: {
    variant: { control: 'select', options: [{{#each variants}}'{{this}}'{{#unless @last}}, {{/unless}}{{/each}}] },
    size:    { control: 'select', options: [{{#each sizes}}'{{this}}'{{#unless @last}}, {{/unless}}{{/each}}] },
    isOpen:  { control: 'boolean' },
    title:   { control: 'text' },
  },
};

export default meta;
type Story = StoryObj<ModalComponent>;

export const Default: Story = {
  args: {
    isOpen: true,
    title: 'Modal Title',
    variant: 'default',
    size: 'md',
  },
  render: (args) => ({
    props: args,
    template: `
      <app-modal [isOpen]="isOpen" [title]="title" [variant]="variant" [size]="size">
        <p>This is the modal content.</p>
        <div footer>
          <button (click)="isOpen = false">Close</button>
        </div>
      </app-modal>
    `,
  }),
};
