<div [class]="containerClasses">
  <label *ngIf="label" class="label">
    \{{ label }}
    <span *ngIf="required" class="required" aria-hidden="true">*</span>
  </label>
  
  <div class="input-wrapper">
    <input
      [type]="currentType"
      [class]="'input input--' + size"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [attr.aria-invalid]="!!error"
      [attr.aria-required]="required"
    >
    
    <button
      *ngIf="type === 'password'"
      type="button"
      class="password-toggle"
      (click)="togglePassword()"
      [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'"
    >
      \{{ showPassword ? 'Hide' : 'Show' }}
    </button>
  </div>

  <span *ngIf="error" class="error" role="alert">\{{ error }}</span>
</div>
