<div class="input-container">
  <ng-content select="[input-label]"></ng-content>
  @if (label) {
    <label [attr.for]="id" class="label">
      \{{ label }}
      @if (required) {
        <span class="required">*</span>
      }
    </label>
  }
  
  <div class="input-wrapper">
    <ng-content select="[input-prefix]"></ng-content>
    <input
      [id]="id"
      type="text"
      class="input"
      [class.input--sm]="size === 'sm'"
      [class.input--md]="size === 'md'"
      [class.input--lg]="size === 'lg'"
      [class.input--error]="error"
      [class.input--disabled]="disabled"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [attr.aria-invalid]="!!error"
      [attr.aria-required]="required"
    />
    <ng-content select="[input-suffix]"></ng-content>
  </div>

  <ng-content select="[input-hint]"></ng-content>
  @if (hint && !error) {
    <span class="hint">\{{ hint }}</span>
  }
  <ng-content select="[input-error]"></ng-content>
  @if (error) {
    <span class="error" role="alert">\{{ error }}</span>
  }
  <ng-content></ng-content>
</div>
