@if (isOpen) {
  <div class="dialog-overlay" (click)="onOverlayClick($event)">
    <div 
      class="Dialog"
      [class.Dialog--sm]="size === 'sm'"
      [class.Dialog--md]="size === 'md'"
      [class.Dialog--lg]="size === 'lg'"
      [class.Dialog--confirm]="variant === 'confirm'"
      role="dialog" 
      aria-modal="true"
      [attr.aria-labelledby]="titleId"
      [attr.aria-describedby]="descriptionId"
      (click)="$event.stopPropagation()"
    >
      <ng-content select="[dialog-content]"></ng-content>
      <header class="dialog-header">
        <h2 [id]="titleId" class="dialog-title">
          <ng-content select="[dialog-title]">\{{ title }}</ng-content>
        </h2>
        <p [id]="descriptionId" class="dialog-description">
          <ng-content select="[dialog-description]"></ng-content>
        </p>
        <button type="button" class="dialog-close" (click)="onClose()" aria-label="Close Dialog">
          <ng-content select="[dialog-close]">&times;</ng-content>
        </button>
      </header>
      
      <div class="dialog-body">
        <ng-content select="[dialog-body]"></ng-content>
        <ng-content></ng-content>
      </div>
      
      <footer class="dialog-footer">
        <ng-content select="[dialog-footer]"></ng-content>
      </footer>
    </div>
  </div>
}
