<button
  [class]="classes"
  [disabled]="disabled || loading"
  [attr.aria-disabled]="disabled || loading"
  [attr.aria-busy]="loading"
>
  <span
    *ngIf="loading"
    class="w-4 h-4 border-2 border-current border-t-transparent rounded-full animate-spin mr-2"
    aria-hidden="true"
  ></span>
  <ng-content select="[icon]"></ng-content>
  <ng-content></ng-content>
</button>
