<div class="select-container">
  @if (label) {
    <label [attr.for]="id" class="label">\{{ label }}</label>
  }
  
  <div class="select-wrapper">
    <ng-content select="[prefix]"></ng-content>
    <select
      [id]="id"
      class="select"
      [class.select--sm]="size === 'sm'"
      [class.select--md]="size === 'md'"
      [class.select--lg]="size === 'lg'"
      [class.select--error]="variant === 'error' || error"
      [disabled]="disabled"
      [attr.aria-invalid]="!!error"
      (change)="onChange($event)"
    >
      <option value="" disabled>\{{ placeholder }}</option>
      @for (opt of options; track opt.value) {
        <option [value]="opt.value">\{{ opt.label }}</option>
      }
    </select>
    <ng-content select="[suffix]"></ng-content>
  </div>

  @if (error) {
    <span class="error" role="alert">\{{ error }}</span>
  }
  <ng-content></ng-content>
</div>
