<div class="container" [class]="comboboxClasses">
  <label *ngIf="label" [attr.for]="id + '-trigger'" class="label">\{{ label }}</label>
  
  <div
    [id]="id + '-trigger'"
    class="combobox"
    (click)="toggle()"
    (keydown)="handleKeyDown($event)"
    [attr.aria-expanded]="isOpen"
    [attr.aria-controls]="isOpen ? id + '-listbox' : null"
    [attr.aria-haspopup]="'listbox'"
    role="combobox"
    [attr.tabindex]="disabled ? null : 0"
    #trigger
  >
    <span class="value">\{{ displayValue }}</span>
    <span class="arrow" aria-hidden="true">▼</span>
  </div>

  <ul
    *ngIf="isOpen"
    [id]="id + '-listbox'"
    class="listbox"
    role="listbox"
    [attr.aria-labelledby]="id + '-trigger'"
    #listbox
  >
    <li
      *ngFor="let option of options; let i = index"
      [id]="id + '-option-' + i"
      (click)="selectOption(option)"
      class="option"
      [class.option--selected]="value === (option.value !== undefined ? option.value : option)"
      [class.option--active]="activeIndex === i"
      [attr.aria-selected]="value === (option.value !== undefined ? option.value : option)"
      role="option"
    >
      <span class="item-text">\{{ option.label }}</span>
    </li>
  </ul>

  <span *ngIf="error" class="error" role="alert">\{{ error }}</span>
</div>
