<div class="select-container">
  <label *ngIf="label" [attr.for]="id" class="label">\{{ label }}</label>
  
  <select
    [id]="id"
    class="select"
    [class.select--sm]="size === 'sm'"
    [class.select--md]="size === 'md'"
    [class.select--lg]="size === 'lg'"
    [class.select--error]="error"
    [disabled]="disabled"
    [attr.aria-invalid]="!!error"
    (change)="onChange($event)"
  >
    <option value="" disabled>\{{ placeholder }}</option>
    <option *ngFor="let opt of options" [value]="opt.value">\{{ opt.label }}</option>
  </select>

  <span *ngIf="error" class="error" role="alert">\{{ error }}</span>
</div>
