<div class="container">
  <label *ngIf="label" class="label">\{{ label }}</label>
  
  <div
    [class]="comboboxClasses"
    (click)="toggle()"
    [attr.aria-expanded]="isOpen"
    role="combobox"
    aria-haspopup="listbox"
    tabindex="0"
  >
    <span class="value">\{{ displayValue }}</span>
    <span class="arrow" aria-hidden="true">▼</span>
  </div>

  <ul *ngIf="isOpen" class="listbox" role="listbox">
    <li
      *ngFor="let option of options"
      (click)="selectOption(option)"
      [class.option]="true"
      [class.option--selected]="value === option"
      role="option"
    >
      \{{ option.label || option }}
    </li>
  </ul>

  <span *ngIf="error" class="error" role="alert">\{{ error }}</span>
</div>
